<div class="row justify-content-center">
  <div class="container-fluid box-shadow mx-3">
    <div class="mb-3">
      <h1 class="title font-weight-bold">Keys</h1>
    </div>
  </div>

  <div class="container-fluid justify-content-center px-5 py-4">
    <table class="table table-bordered table-striped table-hover table-sm text-center">
      <thead>
        <tr>
          <th>Label</th>
          <th>Token</th>
          <th>Limit</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @keys.each do |key| %>
          <tr>
            <td><%= key.label %></td>
            <td><%= key.token %></td>
            <td><%= key.rake_limit %></td>
            <td><%= link_to 'Destroy', security_key_path(key), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <div class="container-fluid justify-content-center px-5 py-4">
    <%= link_to 'New Key', new_security_key_path, class: 'btn btn-success btn-block btn-phone col-6'%>
  </div>
</div>
