<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Account:</strong>
    <%= @profile.account %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= @profile.dob %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @profile.address %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= @profile.postcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @profile.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @profile.country %>
  </p>

  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>
</div>