<div class="text-center pt-1">
  <h2 class="font-weight-bold pt-4 pb-4"><span class="text-muted">Verification > </span>Add mobile phone</h2>
</div>

<div class="d-flex justify-content-center box-shadow">
  <div class="steps d-flex justify-content-between pb-2 px-5 mb-2">
    <div class="col-4 step-col first">
      <div class="step text-muted completed"></div>
      <small>Email</small>
    </div>
    <div class="col-4 step-col">
      <div class="step text-muted current"></div>
      <small>Phone</small>
    </div>
    <div class="col-4 step-col last">
      <div class="step text-muted"></div>
      <small>Document</small>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center px-5 py-4">
  <%= form_tag('/phones') do %>
    <div class="form-group">
        <%= label_tag :phone_number %>
      <div class="row">
        <div class="col-3">
          <%= text_field_tag :country_code, nil, class: 'px-1 form-control form-control-lg underlined', placeholder: '+1' %>
        </div>
        <div class="col-6 pr-0">
          <%= text_field_tag :number, nil, class: 'px-1 form-control form-control-lg underlined', placeholder: '000 000 0000' %>
        </div>
        <div class="col-3 pl-0">
          <div class="send_code underlined">
          <div class="loader"></div>
            <a href="javascript:void(0)" id="send-code-btn">Send code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-4">
      <%= label_tag 'SMS confirmation code' %>
      <%= number_field_tag :code, nil, class: 'form-control form-control-lg underlined', placeholder: 'Enter code' %>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <%= submit_tag  'CONFIRM', class: 'btn btn-primary btn-block btn-success btn-phone col-6',id: 'create-phone', disabled: true %>
      <div id="error"></div>
    </div>
  <% end %>
</div>
