<h2 class="title">Resend confirmation instructions</h2>

<div class="p-4">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Resend confirmation instructions', class: "btn btn-block btn-success" %>
    </div>
  <% end %>
</div>

<div class="card-footer text-center">
  <%= render 'devise/shared/links' %>
</div>

