<div class="text-center pt-1">
  <h2 class="font-weight-bold pt-4 pb-4"><span class="text-muted">Change password</h2>
</div>

<div class="d-flex justify-content-center px-5 py-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class="row">
        <div class="col-6 pr-0">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off',  class: "px-1 form-control form-control-lg underlined" %>
        </div>

        <div class="col-6 pr-0">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'off',  class: "px-1 form-control form-control-lg underlined" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-6 pr-0">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: 'off',  class: "px-1 form-control form-control-lg underlined" %>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <%= f.submit  "CONFIRM", class: "btn btn-primary btn-block btn-success btn-phone col-6" %>
    </div>
  <% end %>
</div>



