<div class="row justify-content-center">
  <div class="container-fluid box-shadow mx-3">
    <div class="mb-3">
      <h2 class="title font-weight-bold">Sign up</h2>
    </div>
  </div>

  <div class="container-fluid px-5 py-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-lg underlined', placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control form-control-lg underlined', placeholder: @minimum_password_length ? "Password (#{@minimum_password_length} characters minimum)" : "Password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm password' %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control form-control-lg underlined', placeholder: 'Password confirmation' %>
      </div>

      <div class="mt-4">
        <%= f.submit 'Submit', class: 'btn btn-block btn-success col-6' %>
      </div>
    <% end %>
  </div>
</div>
