<div class="container">
  <div class="page-header">
    <h1>Edit account</h1>
  </div>
  <%= form_for([:admin, @account], method: :put) do |f| %>
    <div class="form-group">
      <%= f.label :role, class: 'control-label' %><br />
      <%= f.select :role, Account::ROLES, {}, class: 'form-control col-sm-2' %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <%= link_to t('doorkeeper.applications.buttons.cancel'), admin_accounts_path,  class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
