<div class="container">
  <div class="page-header">
    <h1>Edit</h1>
  </div>
  <%= form_for([:admin, @account], method: :put) do |f| %>

    <div class="form-group">
      <%= f.label :role, class: 'col-sm-2 control-label' %><br />
      <div class="col-sm-10">
        <%= f.text_field :role, autocomplete: 'role', class: 'form-control' %>
      </div>
    </div>

    <div class="actions col-sm-offset-2 col-sm-10">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <%= link_to t('doorkeeper.applications.buttons.cancel'), admin_accounts_path,  class: 'btn btn-default' %>
    </div>
  <% end %>
</div>