<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Accounts</h1>

  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Last sign in</th>
        <th colspan=3></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr class=<%= 'table-danger' if account.unlock_token? %>>
          <td><%= account.id %></td>
          <td><%= account.email %></td>
          <td><span class=" badge <%= account.role.admin? ? 'badge-primary' : 'badge-info' %>"> <%= account.role %> </span></td>
          <td><%= account.last_sign_in_at.to_s(:long) if account.last_sign_in_at? %></td>
          <td><%= link_to 'Edit', edit_admin_account_path(account.id), class: 'btn btn-info btn-sm' %></td>
          <td><%= link_to 'Delete', admin_account_path(account.id), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @accounts %>
</div>