<div class="container">

  <h1>Accounts</h1>

  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Level</th>
        <th>Labels</th>
        <th>Last sign in</th>
        <% if can?(:update, Account) || can?(:destroy, Account) %>
          <th colspan=3></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr class=<%= 'table-danger' if account.locked_at? %>>
          <td><%= account.id %></td>
          <td><%= link_to account.email, admin_account_path(account.id) %></td>
          <td><span class=" badge <%= badge_by_role(account.role) %>"> <%= account.role %> </span></td>
          <td><%= account.level %></td>
          <td><%= label_tags(account) %></td>
          <td><%= account.last_sign_in_at.to_s(:long) if account.last_sign_in_at? %></td>
          <% if can? :update, account %>
            <td><%= link_to 'Edit', edit_admin_account_path(account.id),  class: 'btn btn-primary btn-sm'  %></td>
          <% end %>

          <% if can? :destroy, account %>
            <td><%= link_to 'Delete', admin_account_path(account.id), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} %></td>
          <% end %>

          </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @accounts %>
</div>
