<div class="container">
  <h4 class="text-center">Account</h4>
  <ul class="list-group">
    <li class="list-group-item">
     <b> E-mail: </b>
      <%= @account.email%>
    </li >

    <li class="list-group-item">
     <b> Role: </b>
      <%= @account.role %>
    </li >

    <li class="list-group-item">
     <b> Level: </b>
      <%= @account.level %>
    </li >

    <li class="list-group-item">
      <% if @account.otp_enabled %>
        2FA is enabled

        <% if can? :disable_2fa, @account %>
          <%= link_to 'Disable 2FA',
                      disable_2fa_admin_account_path(@account),
                      class: 'btn btn-primary btn-sm',
                      data: {
                        method: :post,
                        confirm: "Are you sure? You need to verify that user owns his account before disabling 2FA"
                      }
          %>
        <% end %>
      <% else %>
        2FA is disabled
      <% end %>
    </li >
  </ul>
  <br/>

</br/>

  <h4 class="text-center"> Profile </h4>
  <ul class="list-group">
    <% if @profile %>
      <li class="list-group-item">
        <b> First Name: </b>
        <%= @profile.first_name%>
      </li>

      <li class="list-group-item">
        <b> Last Name: </b>
        <%= @profile.last_name%>
      </li>

      <li class="list-group-item">
        <b> Address: </b>
        <%= @profile.address%>
      </li>

      <li class="list-group-item">
        <b> Postcode: </b>
        <%= @profile.postcode%>
      </li>

      <li class="list-group-item">
        <b> City: </b>
        <%= @profile.city%>
      </li>

      <li class="list-group-item">
        <b> Country: </b>
        <%= full_country(@profile.country) %>
      </li>

      <% if @document_label_value %>
        <%= render 'document_label' %>
      <% end %>
      <li class="list-group-item">
        <% if can? :update, Profile %>
          <%= link_to 'Edit', edit_admin_profile_path(@account.profile), class: 'btn btn-primary btn-sm' %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <br>
  <h4 class="text-center"> Phones </h4>
  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Country</th>
      <th>Number</th>
      <th>Vlidated at</th>
    </tr>
    </thead>
    <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.id %></td>
        <td><%= full_country(phone.country) %></td>
        <td><%= phone.number %></td>
        <td><%= phone.validated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <h4 class="text-center"> Documents </h4>
  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Doc Photo</th>
      <th>Doc Name</th>
      <th>Doc Type</th>
      <th>Doc Number</th>
      <th>Doc Expire</th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
        <tr>
          <td><%= document.id %></td>
          <td><%= document.upload.present? ? link_to(image_tag(document.upload.url, width: '100', alt: 'Doc Preview'), asset_path(document.upload), target: '_blank') : ''%></td>
          <td><%= document.upload&.file&.filename%></td>
          <td><%= document.doc_type %></td>
          <td><%= document.doc_number %></td>
          <td><%= document.doc_expire %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

  <% if can? :create, Label %>
    <%= link_to 'New Label', new_admin_account_label_path(@account.id), class: 'btn btn-success' %>
  <% end %>
  <br>
  <h4 class="text-center"> Labels </h4>

  <div class="alert alert-info" role="alert">
    <center>
      <pre style="white-space: pre-wrap;"><%= show_level_mapping %></pre>
    </center>
  </div>

  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Key</th>
      <th>Value</th>
      <th>Scope</th>
    </tr>
    </thead>
    <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.id %></td>
        <td><%= label.key %></td>
        <td><%= label.value %></td>
        <td><%= label.scope %></td>
        <td>
          <% if can? :update, Label %>
            <%= link_to 'Edit', edit_admin_account_label_path(id: label.id, account_id: @account.id), class: 'btn btn-primary btn-sm' %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, Label %>
            <%= link_to 'Delete', admin_account_label_path(id: label.id, account_id: @account.id), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
