<%= form_with(model: [:admin, @website], local: true) do |form| %>
  <% if website.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

        <ul>
          <% website.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form.label :domain, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :domain, id: :website_domain , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :title, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :title, id: :website_title , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :logo, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :logo, id: :website_logo , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :stylesheet, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :stylesheet, id: :website_stylesheet , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :header, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_area :header, id: :website_header , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :footer, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_area :footer, id: :website_footer , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :redirect_url, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :redirect_url, id: :website_redirect_url , class: 'form-control'%>
  </div>
  <br>

  <%= form.label :state, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :state, id: :website_state , class: 'form-control'%>
  </div>
  <br>

  <div class="actions col-sm-offset-2 col-sm-10">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path,  class: 'btn btn-default' %>
  </div>
  <br>

<% end %>