<div class="container">

  <h1>Websites</h1>
  <%= link_to 'New Website', new_admin_website_path, class: 'btn btn-success' %>
  <br><br>

  <table class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Domain</th>
        <th>Title</th>
        <th>Logo</th>
        <th>Stylesheet</th>
        <th>Header</th>
        <th>Footer</th>
        <th>Redirect url</th>
        <th>State</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @websites.each do |website| %>
        <tr>
          <td><%= website.id %></td>
          <td><%= website.domain %></td>
          <td><%= website.title %></td>
          <td><%= website.logo %></td>
          <td><%= website.stylesheet %></td>
          <td><%= website.header %></td>
          <td><%= website.footer %></td>
          <td><%= website.redirect_url %></td>
          <td><%= website.state %></td>
          <td><%= link_to 'Show', admin_website_path(website), class: 'btn btn-info btn-sm' %></td>
          <td><%= link_to 'Edit', edit_admin_website_path(website), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Delete', admin_website_path(website), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
