<%= form_with(model: [:admin, @account, @profile], local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :first_name, class: 'control-label'%>
  <%= form.text_field :first_name, class: 'form-control col-sm-10'%>
  <br>

  <%= form.label :last_name, class: 'control-label'%>
  <%= form.text_field :last_name, class: 'form-control col-sm-10'%>
  <br>

  <%= form.label :dob, class: 'control-label'%>
  <%= form.text_field :dob, class: 'form-control datepicker-toggle col-sm-10',
                            'data-date-format': 'yyyy-mm-dd', 'data-date-end-date': '-1d'%>
  <br>

  <%= form.label :address, class: 'control-label'%>
  <%= form.text_field :address, class: 'form-control col-sm-10'%>
  <br>

  <%= form.label :postcode, class: 'control-label'%>
  <%= form.text_field :postcode, class: 'form-control col-sm-10'%>
  <br>

  <%= form.label :city, class: 'control-label'%>
  <%= form.text_field :city, class: 'form-control col-sm-10'%>
  <br>

  <%= form.label :country, class: 'control-label' %>
  <%= display_country(selected_country: form.object.country, classes: 'form-control col-sm-10') %>
  <br>

  <!-- <%= form.label :country, class: 'control-label'%> -->
  <!-- <%= form.text_field :country, class: 'form-control col-sm-10'%> -->

  <%= form.submit 'Submit', class: 'btn btn-primary' %>

  <br>
  <br>

<% end %>
