<div class="container">
  <div class="col-md-12">
    <h4 class="text-center"> Profile info </h4>
    <ul class="list-group">
      <li class="list-group-item">
        <b> First Name: </b>
        <%= @profile.first_name%>
      </li>

      <li class="list-group-item">
        <b> Last Name: </b>
        <%= @profile.last_name%>
      </li>

      <li class="list-group-item">
        <b> Address: </b>
        <%= @profile.address%>
      </li>

      <li class="list-group-item">
        <b> Postcode: </b>
        <%= @profile.postcode%>
      </li>

      <li class="list-group-item">
        <b> City: </b>
        <%= @profile.city%>
      </li>

      <li class="list-group-item">
        <b> Country: </b>
        <%= @profile.country%>
      </li>

      <li class="list-group-item">
        <b> State: </b>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @profile.state.upcase_first %>
          </a>
          <div class="dropdown-menu">
            <% @states.each do |state|%>
              <%= link_to(state.upcase_first, change_state_admin_profile_path(@profile, state: state), method: :put, class: 'dropdown-item') unless @profile.state == state%>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>

  </br>

  <div class="col-md-12">
    <h4 class="text-center"> Documents </h4>
    <table class="table table-bordered table-striped table-hover table-sm text-center">
      <thead>
      <tr>
        <th>ID</th>
        <th>Doc Photo</th>
        <th>Doc Type</th>
        <th>Doc Number</th>
        <th>Doc Expire</th>
      </tr>
      </thead>
      <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= document.id %></td>
          <td>
            <%= document.upload.present? ? image_tag(document.upload.url, width: '100', alt: 'Doc photo') : ''%>
            <%= link_to(document.upload&.file&.filename, asset_path(document.upload), target: '_blank') %>
          </td>
          <td><%= document.doc_type %></td>
          <td><%= document.doc_number %></td>
          <td><%= document.doc_expire %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>