<h2 class="title">Change your password</h2>

<div class="p-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, 'New password' %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm new password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Change my password', class: "btn btn-block btn-success" %>
    </div>
  <% end %>
</div>

<div class="card-footer text-center">
  <%= render 'devise/shared/links' %>
</div>
