<h2 class="title">Forgot your password?</h2>

<div class="p-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Send me reset password instructions', class: "btn btn-block btn-success" %>
    </div>
  <% end %>
</div>

<div class="card-footer text-center">
  <%= render 'devise/shared/links' %>
</div>
