<%= simple_form_for @account, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :real_name, class: "control-label" %>
      <%= f.text_field :real_name, autofocus: false, class: 'form-control input-md' %>
    </div>

    <div class="form-group">
      <%= f.label :address, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :address, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :city, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :city, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :country, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :country, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :zipcode, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :zipcode, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :document_type, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :document_type, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :document_number, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :document_number, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <div>
        <%= f.input :doc_photo, as: :file, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :residence_proof, class: "col-md-4 control-label" %>
      <div>
        <%= f.text_field :residence_proof, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <div>
        <%= f.input :residence_photo, as: :file, class: 'form-control input-md' %>
      </div>
    </div>
    <%= f.hidden_field :status, value: true %>
    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-primary btn-block btn-lg" %>
    </div>

<%end%>
