<%= simple_form_for @account, html: { class: 'form-horizontal' } do |f| %>
  <%f.error_notification%>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :real_name, autofocus: false, class: 'form-control input-md', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :birth_date, as: :string, class: 'datepicker form-control input-md', input_html: {value: f.object.birth_date? ? formatted_date(f.object.birth_date) : formatted_date(Date.today) } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :address, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :city, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :country, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :zipcode, autofocus: false, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :document_type, collection: document_type_list, include_blank: "Please Select",required: true, input_html: {class: 'form-control input-md' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :document_number, autofocus: false, required: true, class: 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :doc_photo, as: :file, input_html: {class: 'form-control input-md' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :residence_proof, collection: document_type_list, required: true, include_blank: "Please Select",  input_html: {class: 'form-control input-md', } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :residence_photo, as: :file, input_html: {class: 'form-control input-md' } %>
      </div>
    </div>
    <%= f.hidden_field :status, value: true %>
    <div class="form-group btn_grp">

      <%= f.submit "UPDATE ID DOCUMENT", class: "btn btn-primary btn_update" %>
      <%= button_tag "Cancel", class: "btn btn-default btn_cancel" %>
    </div>
<%end%>
