<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id, id: :document_profile_id %>
  </div>

  <div class="field">
    <%= form.label :upload_id %>
    <%= form.text_field :upload_id, id: :document_upload_id %>
  </div>

  <div class="field">
    <%= form.label :upload_filename %>
    <%= form.text_field :upload_filename, id: :document_upload_filename %>
  </div>

  <div class="field">
    <%= form.label :upload_content_size %>
    <%= form.text_field :upload_content_size, id: :document_upload_content_size %>
  </div>

  <div class="field">
    <%= form.label :upload_content_type %>
    <%= form.text_field :upload_content_type, id: :document_upload_content_type %>
  </div>

  <div class="field">
    <%= form.label :doc_type %>
    <%= form.text_field :doc_type, id: :document_doc_type %>
  </div>

  <div class="field">
    <%= form.label :doc_number %>
    <%= form.text_field :doc_number, id: :document_doc_number %>
  </div>

  <div class="field">
    <%= form.label :doc_expire %>
    <%= form.date_select :doc_expire, id: :document_doc_expire %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
