<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doc_type %>
    <%= form.select :doc_type,['passport', 'identity card', 'driver license', 'utility bill'], id: :document_doc_type %>
  </div>

  <div class="field">
    <%= form.label :doc_number %>
    <%= form.text_field :doc_number, id: :document_doc_number %>
  </div>

  <div class="field">
    <%= form.label :doc_expire %>
    <%= form.date_select :doc_expire, id: :document_doc_expire %>
  </div>

  <div>
    <%= form.label :upload%>
    <%= form.file_field :upload %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
