<div class="row justify-content-center">
  <div class="container-fluid box-shadow mx-3">
    <div class="mb-3">
      <h2 class="title font-weight-bold">Sign in</h2>
    </div>
  </div>

  <div class="container-fluid mx-3 px-5 py-4">
    <%= form_for(resource, as: resource_name, url: accounts_sign_in_confirm_path) do |f| %>
      <%= devise_error_messages! %>

      <div id="email-form">
        <div class="form-group">
          <div class="row">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                      class: 'px-1 form-control form-control-lg underlined',
                                      placeholder: 'Enter email', required: true %>
          </div>
        </div>

        <div class="row mt-4 d-flex justify-content-between">
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
