<%= form_with(model: keypair, local: true) do |form| %>

    <%= form.label :label%>
    <%= form.text_field :label, class: 'px-1 form-control form-control-lg underlined'%>
    <br>

    <%= form.label :token, class: 'control-label'%>
    <%= form.text_field :token, class: 'px-1 form-control form-control-lg underlined'%>
    <br>

    <%= form.label :rake_limit, class: 'control-label'%>
    <%= form.number_field :rake_limit, class: 'px-1 form-control form-control-lg underlined'%>
    <br>

    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-success btn-block' %>
    </div>

<% end %>