<!DOCTYPE html>
<html>
<head>
  <title>Barong</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'web', media: 'all' %>
  <%= domain_stylesheet_tag(domain_stylesheet()) %>

  <%= javascript_include_tag 'web' %>
</head>
<body class="devise">

  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
        <div class="main-logo">
          <%= link_to image_tag("logo-white.png"), index_path %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 mt-5">
        <div class="card">
          <%= render 'layouts/shared/header' if account_signed_in? %>
          <% unless notice.blank? %><span class="alert alert-primary mb-0"><%= notice %></span><% end %>
          <% unless alert.blank? %><span class="alert alert-danger mb-0"><%= alert %></span><% end %>

          <%= yield %>

        </div>
      </div>
    </div>

  </div>

</body>
</html>
