<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= domain_title_tag(domain_asset :title) %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'web', media: 'all' %>
    <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
    <%= javascript_include_tag 'web' %>

    <%= domain_favicon_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="devise">
    <%= domain_html_tag(domain_asset :header) %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-2">
          <div class="main-logo">
            <%= link_to domain_logo_tag(domain_asset :logo), index_path %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="mt-5 mb-5 mx-4 main-card">

          <div class="card">

            <% unless alert.blank? %>
              <span class="alert alert-danger mb-0">
                <i class="icon icon-cancel-circled"></i> <h3><%= alert %></h3>
              </span>
            <% end %>

            <% unless notice.blank? %>
              <span class="alert alert-success mb-0">
                <i class="icon icon-cancel-circled"></i> <h3><%= notice %></h3>
              </span>
            <% end %>

            <div classs="pt-2">
              <%= yield %>
            </div>

            <% if account_signed_in? %>
              <%= render 'layouts/shared/account_footer' %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <%= domain_html_tag(domain_asset :footer) %>
  </body>
</html>
