<!DOCTYPE html>
<html>
<head>
  <title>Barong</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'web', media: 'all' %>
  <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
  <%= javascript_include_tag 'web' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
</head>
<body class="devise">
  <%= domain_html_tag(domain_asset :header) %>

  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
        <div class="main-logo">
          <%= link_to domain_logo_tag(domain_asset :logo), index_path %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 mt-5">
        <div class="card">

          <% unless notice.blank? %><span class="alert alert-primary mb-0"><%= notice %></span><% end %>
          <% unless alert.blank? %><span class="alert alert-danger mb-0"><%= alert %></span><% end %>

          <%= yield %>

        </div>
      </div>
    </div>

  </div>
  <%= domain_html_tag(domain_asset :footer) %>
</body>
</html>
