<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Barong</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'web', media: 'all' %>
  <%= stylesheet_link_tag @styles unless @styles.nil? %>
  <%= javascript_include_tag 'web' %>
</head>
<body>
<p class="notice text-center"><%= notice %></p>
<p class="alert text-center"><%= alert %></p>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>